<div class="panel panel-default">
    <form class="form-group-lg" name="edit-profile" ng-submit="profileCtrl.save(profileCtrl.user)">
        <div class="panel-body">
            <h4>Редактирование</h4>
            <hr/>
            <div class="form-group"  ng-class="{'has-error': profileCtrl.user.hasErrors}">
                <input type="text"
                       class="form-control"
                       placeholder="Имя пользователя"
                       ng-model="profileCtrl.user.username.value">
                <span class="help-block">{{profileCtrl.user.username.error}}</span>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-lg btn-primary hidden-xs"><strong>Сохранить</strong></button>
                <button type="submit" class="btn btn-lg btn-primary btn-block visible-xs"><strong>Сохранить</strong>
                </button>
            </div>
        </div>
    </form>
</div>