<div class="panel panel-default">
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias corporis cupiditate, deserunt, eum ex iusto minus modi neque nisi perferendis quas quis ratione, rerum unde voluptatem voluptatibus! Sed.
    </div>
    <div class="panel-footer">
        <button ng-click="aboutCtrl.open()">Test</button>
    </div>
</div>