<div class="panel panel-default">
    <div class="panel-body">
        <div class="thumbnail"
             ngf-select
             ngf-change="sidebarCtrl.upload($files)"
             ngf-accept="'image/*'"
                ng-show="sidebarCtrl.owner">
            <img class="img-responsive" ng-src="/images/{{sidebarCtrl.user.avatar}}" style="cursor: pointer;">
        </div>
        <div class="thumbnail" ng-hide="sidebarCtrl.owner">
            <img class="img-responsive" ng-src="/images/{{sidebarCtrl.user.avatar}}">
        </div>
        <div class="caption">
            <h3 ng-mouseover="editButton = true" ng-mouseleave="editButton = false">
                <div class="pull-right">
                    <a href ui-sref="main.user-edit" ui-sref-opts="{reload: true}">
                    <span class="label label-success" ng-if="sidebarCtrl.owner && editButton">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </span>
                    </a>
                </div>
                {{sidebarCtrl.user.username}}

            </h3>
        </div>
        <hr/>
        <div>
            <strong>Очков:</strong> {{sidebarCtrl.user.score}}
            <br/>
            <strong>Жизней:</strong> {{sidebarCtrl.user.lives}}
        </div>
        <hr/>
        <div class="progress">
            <div ng-repeat="state in sidebarCtrl.stats.tasks" class="progress-bar progress-bar-{{ sidebarCtrl.getLevelLabel(state.status) }}" style="width: {{ state.total / sidebarCtrl.getTasksCount(sidebarCtrl.stats.tasks) * 100 }}%">
                <span class="sr-only">35% Complete (success)</span>
            </div>
        </div>
    </div>
</div>