<div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10"
     style="margin-top: 100px">
    <div class="panel panel-default">
        <div class="panel-body">
            <form ng-submit="authCtrl.login(authCtrl.user)" name="login-form">
                <div class="form-group">
                    <div class="input-group  input-group-lg" ng-class="{'has-error': authCtrl.user.hasErrors}">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Логин" ng-model="authCtrl.user.username">
                    </div>

                </div>
                <div class="form-group">
                    <div class="input-group  input-group-lg" ng-class="{'has-error': authCtrl.user.hasErrors}">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Пароль" ng-model="authCtrl.user.password">
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block"><strong>Войти</strong></button>
                <hr/>
                <div class="text-center">
                    <a href ui-sref="register">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>