[ui-view].ng-leave {
    display: none;
}

[ui-view].ng-leave-active {
    display: none;
}

.loginClass {
    background-image: url("/images/blurred-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}