<div class="alert alert-dismissible alert-{{alert.alertEvent}}"
     ng-repeat="alert in alertsCtrl.alerts"
     role="alert"
     ng-if="alert">
    <button type="button" class="close" aria-label="Close"
            ng-click="alertsCtrl.closeAlert(alert)">
        <span aria-hidden="true">&times;</span></button>
    <strong class="text-capitalize">{{alert.alertEvent}}!</strong> {{alert.content}}
</div>