<div>
    <li><a href ui-sref="login" ng-if="!authLinkCtrl.isLoggedIn">Login</a></li>
    <li><a href ng-controller="AuthController as authCtrl" ng-click="authCtrl.logout()"
           ng-if="authLinkCtrl.isLoggedIn">Logout</a></li>
</div>