<div class="panel panel-default">
    <form class="form-group-lg" name="edit-profile" ng-submit="taskCtrl.save(taskCtrl.task)">
        <div class="panel-body">
            <h4>Редактирование</h4>
            <hr/>
            <div class="form-group"  ng-class="{'has-error': taskCtrl.task.label.error}">
                <input type="text" ng-model="taskCtrl.task.label.value" class="form-control" />
                <span class="help-block">{{taskCtrl.task.label.error}}</span>
            </div>
            <div class="form-group"  ng-class="{'has-error': taskCtrl.task.text.error}">
                <textarea cols="30"
                          rows="5"
                          class="form-control"
                          placeholder="Текст задачи"
                          ng-model="taskCtrl.task.text.value">

                </textarea>
                <span class="help-block">{{taskCtrl.task.text.error}}</span>
            </div>
            <div class="form-group"  ng-class="{'has-error': taskCtrl.task.level.error}">
                <select ng-model="taskCtrl.task.level.value"
                        class="form-control"
                        convert-to-number
                        ng-options="value.id as value.title for value in taskCtrl.levels">
                </select>
                <span class="help-block">{{taskCtrl.task.text.error}}</span>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-lg btn-primary hidden-xs"><strong>Сохранить</strong></button>
                <button type="submit" class="btn btn-lg btn-primary btn-block visible-xs"><strong>Сохранить</strong>
                </button>
            </div>
        </div>
    </form>
</div>