<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <a href ui-sref="main.tasks.edit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Created at</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in tasksCtrl.tableData"   ng-class="'bg-' + tasksCtrl.levelHelper(item.level)">
                <td>
                    <a href ui-sref="main.tasks.view({id:item._id})">
                        {{item.label}}
                    </a>
                </td>
                <td>{{item.createdAt }}</td>
                <td>
                    <a href ui-sref="main.tasks.edit({id: item._id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>