<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">
            {{taskCtrl.task.label}}
        </div>
        <div class="pull-right">
            <a href ui-sref="main.tasks.edit({id: taskCtrl.task._id})">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        {{taskCtrl.task.text}}
    </div>
    <div class="text-center">
        <small>comments</small>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="comment in taskCtrl.task.comments">
            {{comment.text}}
        </li>
    </ul>
    <div class="panel-body"  ng-controller="CommentController as commentCtrl">
        <form name="edit-comment" ng-submit="commentCtrl.addComment(taskCtrl.task)">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="commentCtrl.commentText">
                        <span class="input-group-btn">
                            <button class="btn" ng-class="'btn-' + taskCtrl.levelHelper(task.level)"
                                    type="submit">
                                Добавить
                            </button>
                        </span>
            </div>
        </form>
    </div>
    <div class="panel-footer">

    </div>
</div>